body {
	background: #454545;
	color: #fff;
	display: flex;
	justify-content: center;
}

.app {
	width: 400px;
	margin: 20px 0;
}

h1 {
	text-align: center;
}

textarea {
	height: 200px;
}

textarea, input {
	width: 100%;
}

form > * {
	margin-block: 10px;
}

.comments {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.comment {
	border: 1px solid black;
	padding: 10px;
}

.comment--main {
	display: flex;
	align-items: center;
	gap: 20px;
}

.comment--replies {
	display: flex;
	flex-direction: column;
}

.comment--eachReply {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 20px;
}

.comment--eachReply::before {
	content: ">";
	color: grey;
}